@using FormVer2.Models.BL.FormComponentBL
@using FormVer2.Models.BL.ComponentBL

@model FormComponentDTO
@{
    ViewData["Title"] = "Create form's component";
    List<string> ListCo = ViewBag.ListCo;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFormComponent">
            <div class="form-group">
                <label asp-for="FormId" class="control-label"></label>
                <input asp-for="FormId" class="form-control" />
            </div>
            <!--<div class="form-group">
                <label>Minimal</label>
                <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Alabama</option>
                    <option>Alaska</option>
                    <option>California</option>
                    <option>Delaware</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Washington</option>
                </select>
            </div>-->
            <!-- /.form-group -->
            <div class="form-group">
                <label asp-for="ComponentId" class="control-label"></label>
                <input asp-for="ComponentId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TextPrompt" class="control-label"></label>
                <input asp-for="TextPrompt" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IsRequired" class="control-label"></label>
                <input asp-for="IsRequired" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-controller="FormComponent" asp-action="IndexFormComponent" asp-route-formId="@Model.FormId" class="btn btn-success">Cancel</a>
            </div>
        </form>
    </div>
</div>