@using FormVer2.Models.BL.FormComponentBL
@model FormComponentDTO
@{
    ViewData["Title"] = "Delete form's component";
}

<div class="tab-content" id="nav-tabContent">
    <div style="padding: 1rem">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="DeleteConfirmed">
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="TextPrompt" class="control-label"></label>
                        <input asp-for="TextPrompt" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(modelItem => Model.Id)
                        <input type="submit" value="Delete" class="btn btn-primary" />
                        <a asp-controller="FormComponent" asp-action="IndexFormComponent" asp-route-formId="@Model.FormId" class="btn btn-success">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>