@using FormVer2.Models.BL.PreviewBL
@model PreviewComponentDTO

<div class="form-group clearfix">
    <label>@Model.Alias</label>
    <br />
    @{
        for (int i = 0; i < Model.ListItem.Count(); i++)
        {
            <div class="form-group clearfix">
                <div class="icheck-primary d-inline">
                    <input type="checkbox" id="@i.ToString()">
                    <label for="@i.ToString()" style="font-weight: normal;">@Model.ListItem[i].Alias</label>
                </div>
            </div>
        }
    }
</div>

