@using FormVer2.Models.BL.PreviewBL
@model PreviewComponentDTO
@{
    string str = Model.Alias;
    if (@Model.IsRequired)
    {
        str = str + "*";
    }
}

<div class="form-group">
    <label class="control-label">@str</label>
    <input class="form-control" />
</div>