@using FormVer2.Models.BL.PreviewBL
@model string

<div style="border: 2px solid black;" class="mt-1">
    <p>@Model</p>
    <div class="form-group mr-2">
        <input class="form-control">
    </div>
</div>